body {
    margin: 0;
    /*font-family: 'Outfit', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #fff;
    line-height: 1;
    background-color: #010922;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

/* Container */

.container {
    width: 100%;
    max-width: 1265px;
    padding: 0 15px;
    margin: 0 auto;
}



/*              Fist page                   */



/* Header */

.header {
    width: 100%;
    padding-top: 50px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_iner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    display: inherit;
    align-items: center;
}

.header_logo_text {
    margin-left: 28px;
    display: inline;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Outfit', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    /* cursor: pointer; */
}

.header_nav {
    display: inherit;
    font-size: 16px;
    font-weight: 400;
    text-transform: lowercase;
    text-align: left;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0 20px;
    color: #ffffff;
    text-decoration: none;
    transition: color .2s linear;
}

.nav_link:after {
    content: "";
    display: block;
    opacity: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    top: 120%;
    left: 0;
    z-index: 1;
    transition: opacity .2s linear;
}

.nav_link:hover {
    color: #ffffff;
}

.nav_link:hover:after,
.nav_link.active::after {
    opacity: 1;
}

.nav_link.active {
    color: #ffffff;
}

/* FIrst block */
/* discover_nfts block */

.discover_nfts_block {
    margin-top: 130px;
}

.discover_nfts {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
}

.discover_nfts_item {
    display: flex;
}

.discover_nfts_item_one {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.discover_nfts_item_two {
    width: 45%;
    align-items: flex-start;
}

.discover_nfts_title {
    width: 435px;
    padding-top: 130px;
    margin-bottom: 45px;
    font-size: 80px;
    font-weight: 700;
    font-family: 'Outfit', sans-serif;
    color: #ffffff;
    text-transform: capitalize;

}

.discover_nfts_text {
    width: 270px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #ffffff;
    margin-bottom: 45px;
}

.discover_nfts_button {

}

.discover_nfts_button {
    width: 255px;
    height: 72px;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    background: #8D8DDA;
    border-radius: 100px;
    cursor: pointer;
    transition: background .2s linear;
    border:none;
}

.discover_nfts_button:hover {

    background: none;
    outline-color: none ;
    border: 2px solid #89D0D1;

}
