body {
    margin: 0;
    /*font-family: 'Outfit', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #fff;
    line-height: 1;
    background-color: #010922;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

/* Container */
.container {
    width: 100%;
    max-width: 1265px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Font-styles */
.main-title {
    margin-bottom: 45px;
    font-size: 56px;
    font-weight: 700;
    font-family: 'Outfit', sans-serif;
    text-transform: capitalize;
    line-height: 100%;

    color: #ffffff;
}

.subtitle_block {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #ffffff;
    text-transform: uppercase;
}

.text_block {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #ffffff;
    margin-bottom: 45px;
}

/* Buttons */
.block_button {
    background: #8D8DDA;
    border-radius: 100px;
    cursor: pointer;
    transition: background .2s linear;
    border: none;
}

.block_button:hover {
    background: none;
    outline-color: none;
    border: 2px solid #89D0D1;
}

/* Page_block */
.page_block {
    margin-top: 130px;
}

.page_block_organizer {
    display: flex;
    flex-wrap: wrap;
}

/* Section */
.section_page_block {
    margin-bottom: 245px;
}


/*              Fist page                   */



/* Header */
.header {
    width: 100%;
    padding-top: 50px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_iner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    display: inherit;
    align-items: center;
}

.syteLogo_title {
    margin-left: 28px;
    display: inline;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Outfit', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    /* cursor: pointer; */
}

.header_nav {
    display: inherit;
    font-size: 16px;
    font-weight: 400;
    text-transform: lowercase;
    text-align: left;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0 20px;
    color: #ffffff;
    text-decoration: none;
    transition: color .2s linear;
}

.nav_link:after {
    content: "";
    display: block;
    opacity: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    top: 120%;
    left: 0;
    z-index: 1;
    transition: opacity .2s linear;
}

.nav_link:hover {
    color: #ffffff;
}

.nav_link:hover:after,
.nav_link.active::after {
    opacity: 1;
}

.nav_link.active {
    color: #ffffff;
}

/* FIrst block */
/* discover_nfts block */

.discover_nfts_item_text {
    display: flex;
    width: 55%;
    flex-direction: column;
    justify-content: flex-end;
}

.discover_nfts_item_photo {
    display: flex;
    width: 45%;
    align-items: flex-start;
    justify-content: flex-end;
}

.discover_nfts_title {
    width: 435px;
    padding-top: 70px;
    font-size: 80px;
}

.discover_nfts_text {
    width: 550px;
}

.discover_nfts_button {
    width: 255px;
    height: 72px;
}



/*              Second page                   */



/* Line Company Logos */
.logos_block {
    margin-top: 275px;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    background-color: #221F4C;
    border-radius: 10px;
    opacity: 80%;
}

/* Second Page block */
.analytics_photo_item {
    display: flex;
    width: 55%;
    justify-content: space-around;
}

.analytics_text_item {
    display: flex;
    width: 45%;
    flex-direction: column;
    justify-content: center;
}

.block_button_reg {
    display: flex;
    justify-content: space-around;
}

.analytics_button {
    width: 345px;
    height: 74px;
}



/*              Third page                   */



/* Get our app */
.get_our_up_text_item {
    display: flex;
    width: 45%;
    flex-direction: column;
    justify-content: flex-end;
}

.get_our_up_photo_item {
    display: flex;
    width: 55%;
    align-items: flex-start;
    justify-content: space-around;
}

.get_our_up_button {
    width: 345px;
    height: 74px;
}

.button_link {
    text-decoration: none;
    color: #fff;
}